@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Unbounded:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Unbounded', cursive; */
}

body{
    min-height: 100vh;
    background-color: #0c1d16;
    color: #f5f5f5;
}

header{
    height: 80px;
    background-color: #52b788;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px #0c1d16;
}

header ul, 
.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header ul {
    list-style-type: none;
}

header li a,
header li a:visited,
header li a:active
{
    color: #0c1d16;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.5s;
}

header li a:hover,
header li a:focus {
    background-color: #0c1d16;
    color: #52b788;
    box-shadow: 0 0 0 5px hsla(155, 41%, 8%, 0.5);
}

header li a.current {
    background-color: #0c1d16;
    color: #52b788;
}

.signin-btn {
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #0c1d16;
    border-radius: 150px;
}

.signin-btn a{
    text-decoration: none;
    color: #0c1d16;
}

.front{
    height: 90vh;
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
}

.title-text{
    margin-left: 5rem;
}

.title-text h1{
    font: 3rem 'Unbounded', cursive;
    font-weight: 700;
    margin: 1rem 0;
}

.title-text h1 span{
    font: inherit;
    color: #52b788;
}

.title-text p{
    width: 0px;
    overflow: hidden;
    animation: type 1.5s forwards;
    white-space: nowrap;
    background-color: #52b788;
    padding: 0.5rem;
}

@keyframes type {
    from{
        width: 0px;
    }
    to{
        width: 270px;
    }
    
}

.title-img {
    outline: 2px solid #52b788;
    outline-offset: 10px;
    border-radius: 0.25rem;
    border: 1px solid #f5f5f5;
}

.title-img img{
    border-radius: 0.25rem;
}


h2{
    font-family: 'Unbounded', cursive;
}

.trending {
    display: flex;
    flex-flow: column;
    background-color: #52b788;
    padding: 2rem;
}

.line {
    width: 120px;
    height: 5px;
}

.line.dark{
    background-color: #0c1d16;
}

.line.light{
    background-color: #52b788;
}

.text p{
    margin: 0.5rem 0;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 2.5rem;
}

.movie-card img{
    border-radius: 0.25rem;
    transform: trasform 0.5s ease-in;
    box-shadow: 2px 2px 10px #0c1d16;
}

.movie-card:hover {
    transform: scale(1.1);
}

.currently{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.currently img{
    border-radius: 0.25rem;
    border: 1px solid #f5f5f5;
    outline: 4px solid #52b788;
    outline-offset: 5px;
}

.currently button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem 1rem;
    margin-top: 2rem;
    font: inherit;
    color: #52b788;
    cursor: pointer;
    transition: 0.5s;
}

.currently button:hover {
    color: #f5f5f5;
    transform: translate(-0.25rem, -0.25rem);
    background-color: #52b788;
    box-shadow: 0.25rem 0.25rem #f5f5f5;
    border: 1px solid #f5f5f5;
}

.form-container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #52b788;
}

form{
    width: 50%;
    margin-left: 2rem;
    color: #0c1d16;
    display: flex;
    flex-direction: column;
}

.form-group{
    margin: 0.5rem 0;
}

.form-img .img1{
    height: 100vh;
}

.form-img .img2{
    display: none;
}

.submit-btn{
    width: 100px;
    border: 1px solid #52b788;
    color: #52b788;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    background-color: transparent;
    margin: 0.5rem 0;
}


@media  screen and (max-width: 768px) {
    .front{
        flex-direction: column-reverse;
    }

    .title-text{
        margin: 0;
    }

    .currently{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .coming {
        flex-direction: column;
    }

    .form-container{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
        background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWUlMjB0aGVhdHJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60);
        background-size: contain;
    }
    .form-img .img1{
        display: none;
    }
    /* .form-img .img2{
        display: block;
        width: 100vw;
    } */
}