@media only screen and (min-width: 769px){

    body{
        background-image:url("https://wallpaperaccess.com/full/2641047.gif");
    }
    
    h1{
        color:purple;
        text-align:center;
    }
    
    .image{
        border:2px solid rgb(100, 6, 100);
        border-radius: 50%;
        position: relative;
        left:50px;
    }
    
    .info{
        border: 2px solid purple;
        background-color: rgb(173, 75, 185);
        font-style: italic;
        color: rgb(52, 6, 83);
        text-align: center;
        position: absolute;
        top:110px;
        left:280px;
        width:75%
    }
    
    .tablehead{
        text-align: center;
        color: rgb(56, 10, 100);
    }
    
    table,tr,th,td{
        margin: auto;
        border: 3px solid purple;
        border-collapse: collapse;
        text-align: center;
        color: rgb(38, 7, 66);
        background-color: rgb(166, 86, 241);
    }
    
    .gif2{
        position: relative;
        right: 0px;
    }
    
    .gif3{
        position: absolute;
        top:305px;
    }
    }
    
    .skills{
        text-align: center;
        list-style-position: inside;
        color: rgb(89, 15, 99);
    }
    
    
    @media screen and (max-width: 992px) {
        body {
          background-color: rgb(221, 89, 199);
        }
      }